<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка!</title>
</head>
<body>
    <table width="100%">
        <tr><th>
            <a href="http://127.0.0.1:5000/" title="Нажмите сюда, если хотите перейти на страницу анкеты" style="text-decoration: none">Анкета</a>
        </th><th>
            <a href="http://127.0.0.1:5000/stats" title="Нажмите сюда, если хотите посмотреть статистику ответов" style="text-decoration: none">Статистика</a>
        </th><th>
            <a href="http://127.0.0.1:5000/json" title="Нажмите сюда, если хотите посмотреть или скачать данные исследования в формате json" style="text-decoration: none" target="_blank">JSON</a>
        </th><th><a href="http://127.0.0.1:5000/search" title="Нажмите сюда для поиска по полученным данным" style="text-decoration: none">Поиск</a></th></tr>
    </table>
    <hr/>
    <p><h1> Извините, но Вы не ввели данные! </h1></p>
    <p> Нажмите <a href="http://127.0.0.1:5000/">сюда</a> чтобы вернуться к анкете.</p>

</body>
</html>