<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Анкета</title>
    </head>
    <body>
        <table width="100%">
            <tr><th>
                <a href="http://127.0.0.1:5000/" title="Нажмите сюда, если хотите перейти на страницу анкеты" style="text-decoration: none">Анкета</a>
            </th><th>
            <a href="http://127.0.0.1:5000/stats" title="Нажмите сюда, если хотите посмотреть статистику ответов" style="text-decoration: none">Статистика</a>
        </th><th>
            <a href="http://127.0.0.1:5000/json" title="Нажмите сюда, если хотите посмотреть или скачать данные исследования в формате json" style="text-decoration: none" target="_blank">JSON</a>
        </th><th><a href="http://127.0.0.1:5000/search" title="Нажмите сюда для поиска по полученным данным" style="text-decoration: none">Поиск</a></th></tr>
        </table>
        <hr/>
        <img src="{{url_for('static', filename='img5.jpg')}}" width="100%" />
        <p>Благодарим за согласие принять участие в исследовании! Далее Вам будут предложены различные цветовые оттенки, присутствующие на картинке выше. Относятся ли они к красной, розовой или оранжевой гамме? Пожалуйста, для каждого оттенка заполните соответствующие поля.</p>
        <p><b>Обратите внимание! Личные данные, запрашиваемые в анкете, необходимы только для статистики и никуда переданы не будут!</b></p>
        <hr/>
        <form>
            <p><label> Введите имя или псевдоним: <input name="name" type="text"></label></p>
            <p><label> Сколько Вам лет? <input name="age" type="number"> </label></p>
            <p><label> Какой язык для Вас родной? <input name="lang" type="text"> </label></p>
            <p><label> Где Вы родились? <input name="native" type="text"> </label></p>
            <p><label> Где Вы проживаете сейчас? <input name="current" type="text"> </label></p>
            <hr/>
            Пожалуйста, для каждой картинки выберите подходящий вариант.
            <table>
                <tr><th><img src="{{url_for('static', filename='colour1.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma1" type="radio" value="red"> Красный</label><br><label> <input name="gamma1" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma1" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='colour2.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma2" type="radio" value="red"> Красный</label><br><label> <input name="gamma2" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma2" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='colour3.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma3" type="radio" value="red"> Красный</label><br><label> <input name="gamma3" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma3" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='colour4.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma4" type="radio" value="red"> Красный</label><br><label> <input name="gamma4" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma4" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='colour5.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma5" type="radio" value="red"> Красный</label><br><label> <input name="gamma5" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma5" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='colour6.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma6" type="radio" value="red"> Красный</label><br><label> <input name="gamma6" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma6" type="radio" value="orange"> Оранжевый</label><br></th></tr>
            </table>
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>