
2017-2018/Programming_HW5_vk_api_graphs/city_av_com.png
2017-2018/Programming_HW6_tg_bot/conf.py
2017-2018/Programming_HW5_vk_api_graphs/city_av_com.png
2017-2018/Programming_HW5_vk_api_graphs/city_av_com.png
