<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>Анкета</title>
    </head>
    <body bgcolor="#FFF5EE">
        <table width="100%">
            <tr><th>
                <a href="{{ url1 }}" title="Нажмите сюда, если хотите перейти на страницу анкеты" style="text-decoration: none">Анкета</a>
            </th><th>Статистика</th><th>JSON</th><th>Поиск</th></tr>
        </table>
        <hr/>
        <img src="{{url_for('static', filename='img5.jpg')}}" width="100%" />
        <p>Благодарим за согласие принять участие в исследовании! Далее Вам будут предложены различные цветовые оттенки, присутствующие на картинке выше. Как бы Вы назвали их? Относятся ли они к красной, розовой или оранжевой гамме? Пожалуйста, для каждого оттенка заполните соответствующие поля.</p>
        <form>
            <table>
                <tr><th><img src="{{url_for('static', filename='img1.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma1" type="radio" value="red"> Красный</label><br><label> <input name="gamma1" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma1" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='img3.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma2" type="radio" value="red"> Красный</label><br><label> <input name="gamma2" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma2" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='img4.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma3" type="radio" value="red"> Красный</label><br><label> <input name="gamma3" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma3" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='img6.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma4" type="radio" value="red"> Красный</label><br><label> <input name="gamma4" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma4" type="radio" value="orange"> Оранжевый</label><br></th></tr>
                <tr><th><img src="{{url_for('static', filename='img7.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma5" type="radio" value="red"> Красный</label><br><label> <input name="gamma5" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma5" type="radio" value="orange"> Оранжевый</label><br></th></tr>
<tr>            <th><img src="{{url_for('static', filename='img8.jpg')}}"/></th>
                    <th align="left"><label> <input name="gamma6" type="radio" value="red"> Красный</label><br><label> <input name="gamma6" type="radio" value="rose"> Розовый</label><br><label> <input name="gamma6" type="radio" value="orange"> Оранжевый</label><br></th></tr>
            </table>
            <input type="submit" value="Отправить">
        </form>
    </body>
</html>