<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Статистика</title>
</head>
<body>
    <table width="100%">
        <tr><th>
            <a href="{{ url1 }}" title="Нажмите сюда, если хотите перейти на страницу анкеты" style="text-decoration: none">Анкета</a>
        </th><th>Статистика</th><th>JSON</th><th>Поиск</th></tr>
    </table>
    <hr/>
    <a href="http://127.0.0.1:5000/barchart" title="Перейти к просмотру столбчатых диаграмм" style="text-decoration: none">Столбчатые диаграммы</a>
</body>
</html>