<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Спасибо!</title>
    </head>
    <body bgcolor="#FFF5EE">
        <table width="100%">
            <tr><th>
                <a href="http://127.0.0.1:5000" title="Нажмите сюда, если хотите перейти на страницу анкеты" style="text-decoration: none">Анкета</a>
            </th><th>
            <a href="http://127.0.0.1:5000/stats" title="Нажмите сюда, если хотите посмотреть статистику ответов" style="text-decoration: none">Статистика</a>
        </th><th>
            <a href="http://127.0.0.1:5000/json" title="Нажмите сюда, если хотите посмотреть или скачать данные исследования в формате json" style="text-decoration: none" target="_blank">JSON</a>
        </th><th>Поиск</th></tr>
        </table>
        <hr/>
        <p>Спасибо за прохождение анкеты! Ваши результаты записаны.</p>

    </body>
</html>