<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Спасибо!</title>
    </head>
    <body bgcolor="#FFF5EE">
        <table width="100%">
            <tr><th>
                <a href="{{ url1 }}" title="Нажмите сюда, если хотите перейти на страницу анкеты" style="text-decoration: none">Анкета</a>
            </th><th>Статистика</th><th>JSON</th><th>Поиск</th></tr>
        </table>
        <hr/>
        <p>Спасибо за прохождение анкеты! Ваши результаты записаны.</p>

    </body>
</html>