<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новости Лента.ру в дореволюционном</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header class="masthead">
    <div class="container">
        <h3> Дореволюционная орфография</h3>
    </div>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #FFFF33;">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:5000/news"><h2>Новости</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/test">Тест</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<div class="container">
<div class="row">
    <div class="col-lg-8">
        <div class="container">
            <p></p>
            {% for i in range(qual) %}
            <p class="text-justify"> {{ text[i] }}</p>
            {% endfor %}
        </div>
    </div>
    <div class="col-lg-4">
        <p></p>
        <div class="container">
            <div class="jumbotron">
                <p><h3>Самые частотные слова текста:</h3></p>
                {% for i in dic.keys() %}
                <p> {{ i }} - {{ dic[i] }} </p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>