<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Транслит в дореволюционный</title>
    <style>
    .example3 {
    display:inline-block;
    position:relative;
}
.example3 .example_text {
    display:block;
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    box-sizing:border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    color:#fff;

    padding:10px;
    background-color:rgba(0,0,0,.3);


}
.example3 h6 {
    font-family:Arial, Helvetica, sans-serif;
    font-size:18px;
}
.example3 span {
    font-size:12px;
}
</style>
</head>
<body>
<header class="masthead">
    <div class="container">
        <h3> Дореволюционная орфография</h3>
    </div>
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: #FFFF33;">
        <div class="container">
            <a class="navbar-brand" href="http://127.0.0.1:5000/test"><h2>Тест</h2></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="http://127.0.0.1:5000/news">Новости</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
    <form role="form">
        <fieldset>
            {% for i in range(1,11) %}
            <!--<div class="form-group">-->
                <div class="example3">
                    <img src="{{ dic[i][0] }}" class="example_beauty" width="100%">
                    <div class="example_text">
                        <p><h3>Вопрос №{{ i }}.</h3> Выберите верный вариант написания слова: </p>
                        <div class="radio">
                            <label><input type="radio" name="{{ dic[i][1] }}" value="yat" id="{{ (i)*2-1 }}"> {{ dic[i][2][0] }} </label>
                            <label><input type="radio" name="{{ dic[i][1] }}" value="no_yat" id="{{ (i)*2 }}"> {{ dic[i][2][1] }} </label>
                        </div>
                    </div>
                </div>
            <!--</div>-->
            {% endfor %}
            <label>
                <button type="submit" class="btn btn-primary btn-md">Отправить</button>
            </label>
        </fieldset>
    </form>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>
</html>